<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/write.css}"/>
</head>
<body>
<div class="header">
    <h1>READ BOOK</h1>
    <h3>똑 소리나는 독서록 2021 V1</h3>
</div>
<section class="write_input">
    <ul>
        <li><input placeholder="ISBN"/><input placeholder="도서명"/></li>
        <li><input placeholder="날짜"/><input placeholder="독서 시작"/><input placeholder="독서 끝"/></li>
        <li><input placeholder="느낀점"/></li>
        <li><input placeholder="줄거리"/></li>
    </ul>
</section>
<div class="btn_box">
    <button class="btn_save">저장</button>
    <button class="btn_reset">새로작성</button>
    <button class="btn_list">리스트보기</button>
</div>
</body>
</html>