<!DOCTYPE html>
<html lang="ko"
      xmlns:th ="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymleaf/layout"
      layout:decorator="~{/layout}"
>

<script>

</script>

<section layout:fragment="content">
    <table class="list order_list">
        <thead>
        <tr>
            <th>SEQ</th>
            <th>고객 ID</th>
            <th>상품명</th>
            <th>단가</th>
            <th>수량</th>
            <th>매출액합계</th>
        </tr>
        </thead>
        <tbody>
        <tr class="order_tr" th:each="SALE:${SALES}" th:data-id="${SALE.seq}">
            <td th:text="${SALE.seq}">SEQ</td>
            <td th:text="${SALE.userid}">userid</td>
            <td th:text="${SALE.pname}">상품명</td>
            <td th:text="${SALE.amt}">단가</td>
            <td th:text="${SALE.qty}">수량</td>
            <td th:text="${SALE.total}">주문금액</td>
        </tr>
        </tbody>
    </table>
    <div class="btn_box"><button class="btn_insert">주문등록</button></div>
    <script>
    $(function(){
        $("button.btn_insert").on("click",function(){
            location.href = "/order/insert"
        })
     })
    </script>
</section>