<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>KSpring_02</title>
    <link rel="stylesheet" type="text/css" href="/static/home.css">
</head>

<body>
<header class="main_header">
    <h1>나라상사 고객관리 시스템 2021 V1</h1>
</header>

<nav class="main_nav">
    <ul>
        <li>Home</li>
        <li>주문관리</li>
        <li>결제관리</li>
        <li>로그인</li>
    </ul>
</nav>

<section class="main_section">
    <table class="main_table">
        <thead>
        <tr>
            <th>고객ID</th>
            <th>이름</th>
            <th>전화번호</th>
            <th>주소</th>
            <th>담당자명</th>
            <th>담당자연락처</th>
            <th>매출액합계(만원)</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>B001</td>
            <td>롯데상사</td>
            <td>02-222-9999</td>
            <td>서울시 영등포구</td>
            <td>홍길동</td>
            <td>010-9999-8766</td>
            <td>91,000</td>
        </tr>
        <tr>
            <td>B002</td>
            <td>삼부상사</td>
            <td>062-526-9988</td>
            <td>광주시 북구</td>
            <td>이몽룡</td>
            <td>010-9876-6781</td>
            <td>2,900</td>
        </tr>
        <tr>
            <td>B003</td>
            <td>형제상사</td>
            <td>062-456-9988</td>
            <td>광주시 남구</td>
            <td>김기남</td>
            <td>010-1234-5678</td>
            <td>45,000</td>
        </tr>
        </tbody>
    </table>
</section>

</body>
</html>